.bell {
	position: relative;
	display: inline-block;
	width: 21px;
	height: 24px;
	cursor: pointer;
	color: black;
}

.bell::after {
	content: "";
	overflow: hidden;
	top: 50%;
	left: 50%;
	right: auto;
	background-position: center;
	width: 21px;
	height: 24px;
	position: absolute;
	opacity: 1;
	margin-top: -12px;
	margin-left: -10px;
}

.darkTheme::after {
	background-image: url("../assets/icon-white.svg");
}

.lightTheme::after {
	background-image: url("../assets/icon-dark.svg");
}
