.panelContainer {
    position: fixed !important;
    top: 85px !important;
    right: 15px !important;
    left: auto !important;
    width: 300px;
    overflow: visible;
}

.showAll {
    cursor: pointer;
    text-align: center;
    line-height: 2em;
	color: var(--primary-blue);
	text-decoration: none;
}

.notificationsContainer {
    height: calc(100vh - 137px);
    overflow: scroll;
    max-height: calc(5 * 76px);
}
