.panelContainer {
	position: fixed !important;
	top: 85px !important;
	right: 15px !important;
	left: auto !important;
	width: 360px;
	overflow: visible;
	background-color: var(--panel-background);
	border-radius: 4px;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
}

.showAllContainer {
	text-align: center;
	cursor: pointer;
	padding: 10px 0;
	color: var(--primary-blue);
	text-decoration: none;
	font-weight: 500;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.notificationsContainer {
	overflow: scroll;
	max-height: calc(6 * 76px);
}

@media only screen and (max-height: calc(6 * 76px)) {
	.notificationsContainer {
		max-height: calc(100vh - 137px);
	}
}
