.toast-frame {
	background-color: white;
	width: 360px;
	height: 80px;
	position: absolute;
	right: 95px;
	border-radius: 4px;
}

@media only screen and (max-width: 1195px) {
	.toast-frame {
		width: 360px;
	}
}

@media only screen and (max-width: 350px) {
	.toast-frame {
		width: 90vw;
	}
}
